<div class="row">
    <div class="d-flex justify-content-center py-2">
        <main class="">
            <form action="" method="" class="needs-validation" novalidate>

                <div class="py-2 text-center">
                    <h3>Paciente</h3>
                </div>

                <div class="row row-space">

                    <!-- SECCION 1 -->
                    <div class="py-2 text-center">
                        <p class="lead">Sección 1</p>
                    </div>

                    <!-- FECHA DE CONSULTA -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Fecha de consulta</label>
                        <input type="date" class="form-control" id="" name="" required>
                    </div>

                    <!-- NOMBRE COMPLETO -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Nombre completo</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe su nombre" required>
                    </div>

                    <!-- EDAD -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Edad</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe su edad" required>
                    </div>

                    <!-- GENERO -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Genero</label>
                        <select class="form-control" id="sell" name="">
                            <option selected>Femenino</option>
                            <option>Masculino</option>
                            <option>Otro</option>
                        </select>
                    </div>

                    <!-- ALERGIAS -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Alergias</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe sus alergias" required>
                    </div>

                    <hr class="my-4">

                    <!-- SECCION 2 -->
                    <div class="py-2 text-center">
                        <p class="lead">Sección 2</p>
                    </div>

                    <!-- MOTIVO DE CONSULTA -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Motivo de consulta</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe el motivo de la consulta" required>
                    </div>

                    <!-- DIAGNOSTICO -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Diagnostico</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe el diagnostico del paciente" required>
                    </div>

                    <!-- CONDUCTAS ADICTIVAS -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Conductas adictivas</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe las conductas adictivas del paciente" required>
                    </div>

                    <!-- PROBLEMAS DE SALUD -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Problemas de salud</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Escribe los problemas de salud del paciente" required>
                    </div>

                    <hr class="my-4">

                    <!-- SECCION 3 -->
                    <div class="py-2 text-center">
                        <p class="lead">Sección 3</p>
                    </div>

                    <!-- CODIGO -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Codigo</label>
                        <input type="number" class="form-control" id="" name="" placeholder="Codigo del medicamento" required>
                    </div>

                    <!-- NOMBRE -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Nombre</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Nombre del medicamento" required>
                    </div>

                    <!-- DOSIS -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Dosis</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Dosis del medicamento dado" required>
                    </div>

                    <!-- DURACION DEL MEDICAMENTO -->
                    <div class="col-6 py-2">
                        <label for="" class="text-center">Duracion del medicamento</label>
                        <input type="text" class="form-control" id="" name="" placeholder="Duracion del medicamento dado" required>
                    </div>

                    <hr class="my-4">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" name="RegPas"
                            style="width:50%">Registrar</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>