<div class="d-flex">
    <a class="mx-2 btn btn-primary" routerLink="oppaciente" routerLinkActive="active" style="color:#F4FEFB;">Registro
        <span class="material-icons" style="color:#F4FEFB;">&#xea20;</span>
    </a>
    <a class="mx-2 btn btn-primary" routerLink="menu" routerLinkActive="active" style="color:#F4FEFB;">Buscar
        <span class="material-icons" style="color:#F4FEFB;">&#xf02f;</span>
    </a>
     <a class="mx-1 btn btn-primary" routerLink="cuenta" routerLinkActive="active" style="color: #F4FEFB;">Cuenta
        <span class="material-icons" style="color:#F4FEFB;">&#xe853;</span>
    </a>  
</div>