<div class="d-flex">
    <a class="mx-2 btn btn-primary" routerLink="pacientes" routerLinkActive="active" style="color:#F4FEFB;">Pacientes
        <span class="material-icons" style="color:#F4FEFB;">&#xe7ef;</span>
    </a>
    <a class="mx-2 btn btn-primary" routerLink="medicamentos" routerLinkActive="active" style="color:#F4FEFB;">Medicamento
        <span class="material-icons" style="color:#F4FEFB;">&#xf109;</span>
    </a>
     <a class="mx-1 btn btn-primary" routerLink="cuenta" routerLinkActive="active" style="color: #F4FEFB;">Cuenta
        <span class="material-icons" style="color:#F4FEFB;">&#xe853;</span>
    </a>  
</div>