<div class="d-flex justify-content-center py-2">
    <main class="">
        <form action="" method="" class="needs-validation" novalidate>

            <div class="row row-space">

                <!-- SECCION 1 -->
                <div class="py-2 text-center">
                    <h3>Medicamento</h3>
                </div>

                <!-- CODIGO -->
                <div class="col-6 py-2">
                    <label for="" class="text-center">Codigo</label>
                    <input type="number" class="form-control" id="" name="" placeholder="Codigo del medicamento" required>
                </div>

                <!-- NOMBRE -->
                <div class="col-6 py-2">
                    <label for="" class="text-center">Nombre</label>
                    <input type="text" class="form-control" id="" name="" placeholder="Nombre del medicamento" required>
                </div>

                <!-- PRESENTACION -->
                <div class="col-6 py-2">
                    <label for="" class="text-center">Presentacion</label>
                    <input type="text" class="form-control" id="" name="" placeholder="eje. (sólido, semisólido, líquido o gaseoso)" required>
                </div>
                
                <!-- PRECIO -->
                <div class="col-6 py-2">
                    <label for="" class="text-center">Precio</label>
                    <input type="number" class="form-control" id="" name="" placeholder="Precio del medicamento" required>
                </div>

                <hr class="my-4">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" name=""
                        style="width:50%">Registrar</button>
                </div>
            </div>
        </form>
    </main>
</div>